@model IEnumerable<ProjectMain.Models.Material>
@{
    ViewBag.Title = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Material Available</h2>
@Html.ActionLink("New Material", "New", "Material", null, new { @class = "btn btn-primary" })
@if (!Model.Any())
{
    <p style="color:red;font-weight:bold;font-style:italic"> Sorry , No Materials yet!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Material Name</th>
                <th>Value(per ton)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mat in Model)
            {
                <tr>
                    <td>@mat.Name</td>
                    <td>@mat.Value</td>
                </tr>

            }
        </tbody>
    </table>
}

