@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>About This Site</h1>
    <p class="lead">
        This site enables you to order byproducts and then we will give you the scrapyard details from where you pick them
        up
    </p>
    <p><a href="https://www.tatasteel.com/#" class="btn btn-primary btn-lg">Learn more about Tata Steel &raquo;</a></p>
</div>

<div class="row" id="moreInfo">
    <div class="col-md-4">
        <h2>About SNTI</h2>
        <p>
            Shavak Nanavati Technical Institute (SNTI), the erstwhile "Jamshedpur Technical Institute" (JTI) was established in 1921, with the inspiration of the Founder
            “Let the Indians learn to do things by themselves”.
        </p>
        <p><a class="btn btn-default" href="https://capabilitydevelopment.org/page/about-snti">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About byproducts</h2>
        <p>
            A by product is a secondary unit produced in a joint production process that has little value in relation to the main product being produced. In other words,
            it’s a unit that is created inadvertently during the process of manufacturing another product.
        </p>
        <p><a class="btn btn-default" href="https://www.myaccountingcourse.com/accounting-dictionary/byproduct">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About .NET</h2>
        <p>.NET is a free, cross-platform, open source developer platform for building many different types of applications.</p>
        <p><a class="btn btn-default" href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet">Learn more &raquo;</a></p>
    </div>
   </div>
